body{
	max-width: 960px;
	padding: 0 20px;
	margin: 0 auto;
	border: 2px solid black;
}

nav{
	width: 100%;
	border: 2px solid black;
}

nav ul li{
	display: inline;
	padding: 10px 20px;
	border: 2px solid black;
}

nav a{
	text-decoration: none;
}
.titulo{
	height: 220px;
}

.titulo h1{
	padding: 80px 20px;
	font-size: 2.5em;
	text-align: center;
}

.artigo, .classe{
	border: 2px solid black;
	margin: 10px 0;
	padding: 30px;
	line-height: 1.8em;
	min-width: 380px;
	text-align: justify;
}

.artigo h2, .classe h2{
	text-transform: uppercase;
}

.classe img{
	width: 300px;
	float: left;
}

.artigo{
	min-height: 410px;
}

.artigo iframe{
	float: left;
	margin: 33px;
}

.caixa1{
	float: left;
	width: 380px;
	height: 420px;
}

.caixa1 img{
	width: 300px;
}

.caixa2{
	float: right;
	height: 300px;
	width: 340px;
	margin: 40px;
}

.caixa3{
	width: 380px;
}

.linksfooter {
	width: 230px;
	float: left;
	height: 350px;
	padding: 30px 10px;
}

.linksfooter h3{
	padding-left: 8px;
}

.linksfooter ul{
	list-style-type: none;
	padding-left: 0;
}

.linksfooter ul li{
	padding: 8px;
}

.linksfooter a{
	text-decoration: none;
}

.textfooter{
	border-top: 1px solid black;
	clear: both;
	padding: 30px 20px;
}